@charset "UTF-8";
/* Rvègles Keyframes */
/* animation loader */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    display: none;
  }
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  display: flex;
  justify-content: center;
}
body .main-container {
  width: 100%;
}

.bg-loader {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 97;
  animation: fadeOut 1s forwards;
}
.bg-loader .loader {
  width: 48px;
  height: 48px;
  border: 5px solid #99e2d0;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite, fadeOut 1s forwards;
  z-index: 99;
}

header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
header .navbar {
  z-index: 1;
  height: 70px;
  width: 100%;
  padding-top: 25px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
header .navbar .logo {
  max-width: 175px;
  height: 30px;
}
header .location {
  height: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  gap: 17px;
  padding: 15px 0;
}
header .location .fa-solid fa-location-dot {
  padding-left: 50px;
  height: 16px;
  width: 12px;
  color: #353535;
}
header .location .location-input {
  width: 120px;
  padding: 5px;
  background-color: #eaeaea;
  border: none;
  font-size: 1rem;
}
header .location .location-input::placeholder {
  color: #353535;
}
header .location .location-input:focus {
  outline: none;
}
header .location .location-input:focus::placeholder {
  opacity: 0.5;
}

.explore {
  text-align: center;
  background-color: #f6f6f6;
  padding: 20px 30px 50px;
}
.explore h1 {
  font-weight: 700;
  padding: 20px;
}
.explore .subtitle {
  font-size: 18px;
  font-weight: lighter;
  color: #353535;
  padding-bottom: 30px;
}
.explore .btn-explore {
  width: 218px;
  height: 50px;
  font-weight: 500;
  padding: 10px 20px;
  background: linear-gradient(180deg, #ff79da -20%, #ca68db 40%, #9356dc 130%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.explore .btn-explore:active {
  opacity: 0.8;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.explore .btn-explore:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.section-op {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .section-op {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.section-op .operation {
  width: 100%;
  padding: 20px calc((100% - 375px) / 8);
  padding: 50px 35px 40px 20px;
}
@media only screen and (min-width: 768px) {
  .section-op .operation {
    max-width: 1080px;
  }
}
.section-op .operation h2 {
  padding-bottom: 30px;
}
.section-op .operation .cards-op {
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .section-op .operation .cards-op {
    display: flex;
    flex-direction: row;
  }
}
.section-op .operation .cards-op .choose {
  margin-right: 20px;
  min-width: 265px;
  width: 100%;
  height: 72px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  align-content: center;
  padding-left: 10px;
  margin-bottom: 25px;
  margin-left: 15px;
}
.section-op .operation .cards-op .choose .step {
  width: 20px;
  height: 20px;
  position: relative;
  top: 0;
  left: -20px;
  background-color: #9356dc;
  border-radius: 50%;
  font-size: 14px;
  color: white;
  justify-content: center;
  align-content: center;
  padding: 4px 8px;
}
.section-op .operation .cards-op .choose span {
  font-weight: 500;
}
.section-op .operation .cards-op .choose .fa-mobile-screen-button {
  font-size: 18px;
  color: #7e7e7e;
  padding-right: 20px;
}
.section-op .operation .cards-op .choose .fa-mobile-screen-button:active {
  color: #9356dc;
}
.section-op .operation .cards-op .compose {
  margin-right: 20px;
  min-width: 265px;
  width: 100%;
  height: 72px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  align-content: center;
  padding-left: 10px;
  margin-bottom: 25px;
  margin-left: 15px;
}
.section-op .operation .cards-op .compose .step {
  width: 20px;
  height: 20px;
  position: relative;
  top: 0;
  left: -20px;
  background-color: #9356dc;
  border-radius: 50%;
  font-size: 14px;
  color: white;
  justify-content: center;
  align-content: center;
  padding: 4px 8px;
}
.section-op .operation .cards-op .compose span {
  font-weight: 500;
}
.section-op .operation .cards-op .compose .fa-list-ul {
  font-size: 18px;
  color: #7e7e7e;
  padding-right: 20px;
}
.section-op .operation .cards-op .compose .fa-list-ul:active {
  color: #9356dc;
}
.section-op .operation .cards-op .taste {
  min-width: 265px;
  width: 100%;
  height: 72px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  align-content: center;
  padding-left: 10px;
  margin-bottom: 25px;
  margin-left: 15px;
}
.section-op .operation .cards-op .taste .step {
  width: 20px;
  height: 20px;
  position: relative;
  top: 0;
  left: -20px;
  background-color: #9356dc;
  border-radius: 50%;
  font-size: 14px;
  color: white;
  justify-content: center;
  align-content: center;
  padding: 4px 8px;
}
.section-op .operation .cards-op .taste span {
  font-weight: 500;
}
.section-op .operation .cards-op .taste .fa-store {
  font-size: 18px;
  color: #7e7e7e;
  padding-right: 20px;
}
.section-op .operation .cards-op .taste .fa-store:active {
  color: #9356dc;
}

.section-resto {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 55px 20px;
}
.section-resto .bloc-restaurants {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .section-resto .bloc-restaurants {
    padding: 0 20px;
    max-width: 1080px;
  }
}
.section-resto .bloc-restaurants h2 {
  padding-bottom: 20px;
}
.section-resto .bloc-restaurants .resto-cards-boxes {
  display: grid;
  grid-template-columns: 100%;
  gap: 2rem;
}
@media only screen and (min-width: 768px) {
  .section-resto .bloc-restaurants .resto-cards-boxes {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    row-gap: 2rem;
  }
}
@media only screen and (min-width: 1024px) {
  .section-resto .bloc-restaurants .resto-cards-boxes {
    max-width: 1080px;
  }
}
.section-resto .bloc-restaurants .resto-cards-boxes .card {
  min-width: 251px;
  height: 251px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .section-resto .bloc-restaurants .resto-cards-boxes .card {
    max-width: 490px;
  }
}
.section-resto .bloc-restaurants .resto-cards-boxes .card .restaurants-cardlink {
  height: 251px;
  text-decoration: none;
}
.section-resto .bloc-restaurants .resto-cards-boxes .card .restaurants-cardlink .img-content {
  height: 175px;
  object-position: center;
}
.section-resto .bloc-restaurants .resto-cards-boxes .card .restaurants-cardlink .img-content .resized-img {
  object-fit: cover;
  object-position: center 61%;
}
.section-resto .bloc-restaurants .resto-cards-boxes .card .restaurants-cardlink .label-new {
  z-index: 95;
  position: absolute;
  top: 13px;
  right: 13px;
  background-color: #99e2d0;
  color: #008766;
  border: none;
  border-radius: 3px;
  padding: 7px 13px;
  font-size: 14px;
  font-weight: 500;
  width: 80px;
  height: 29px;
}
.section-resto .bloc-restaurants .resto-cards-boxes .card .restaurants-cardlink img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-size: cover;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.section-resto .bloc-restaurants .resto-cards-boxes .card .restaurants-cardlink .card-content {
  height: 75px;
  border-radius: 0 0 15px 15px;
  display: flex;
  background-color: white;
  flex-direction: row;
  position: relative;
  padding-left: 15px;
  bottom: -1px;
}
.section-resto .bloc-restaurants .resto-cards-boxes .card .restaurants-cardlink .card-content .card-titles {
  height: 70px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
}
.section-resto .bloc-restaurants .resto-cards-boxes .card .restaurants-cardlink .card-content .card-titles h3 {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 3px;
}
.section-resto .bloc-restaurants .resto-cards-boxes .card .restaurants-cardlink .card-content .card-titles .card-subtitle {
  font-weight: 200;
  font-size: 17px;
}
.section-resto .bloc-restaurants .resto-cards-boxes .card .btn-heart {
  width: 25px;
  height: 25px;
  display: flex;
  background: none;
  border: none;
  position: absolute;
  bottom: 25px;
  right: 25px;
}
.section-resto .bloc-restaurants .resto-cards-boxes .card .btn-heart .fa-solid {
  opacity: 0;
  transition: opacity 1s;
  background-clip: text;
  color: transparent;
  position: absolute;
  background-image: linear-gradient(360deg, #ff79da -20%, #ca68db 40%, #9356dc 130%);
}
.section-resto .bloc-restaurants .resto-cards-boxes .card .btn-heart:active .fa-solid {
  opacity: 1;
}
.section-resto .bloc-restaurants .resto-cards-boxes .card .btn-heart:active .fa-regular {
  display: none;
}
.section-resto .bloc-restaurants .resto-cards-boxes .card .btn-heart .fa-heart {
  font-size: 22px;
}

footer {
  background-color: #353535;
  color: white;
  padding: 10px 25px;
}
@media only screen and (min-width: 768px) {
  footer .footer-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 15px;
  }
}
@media only screen and (min-width: 1024px) {
  footer .footer-content {
    gap: 50px;
  }
}
@media only screen and (min-width: 1440px) {
  footer .footer-content {
    max-width: 1440px;
  }
}
footer .footer-content a {
  text-decoration: none;
  color: white;
}
footer .footer-content .logo-footer {
  font-family: "Shrikhand";
  font-size: 18px;
  padding: 10px 0;
  width: 110px;
  margin-bottom: 5px;
}
footer .footer-content ul {
  list-style-type: none;
  padding-bottom: 10px;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  footer .footer-content ul {
    display: flex;
    align-items: center;
    padding-top: 11px;
    gap: 15px;
  }
}
@media only screen and (min-width: 1024px) {
  footer .footer-content ul {
    gap: 30px;
  }
}
footer .footer-content ul li {
  padding-bottom: 8px;
}
footer .footer-content ul i {
  height: 13px;
  width: 12px;
  font-size: 12px;
  margin-right: 10px;
}

/*# sourceMappingURL=styles.css.map */
