$text-color: black;
$primary-bg-color: white;
$secondary-bg-color: #f6f6f6;
$gradient-dark-color: #9356dc;
$gradient-medium-color: #ca68db;
$gradient-light-color: #ff79da;
$accent-color: #99e2b0;
$secondary-text-color: #008766;
$footer-bg-color: #353535;
$location-bg-color: #eaeaea;
$icon-color: #7e7e7e;
