$text-color: black;
$primary-bg-color: white;
$secondary-bg-color: #f3f3f3;
$gradient-dark-color: #9356dc;
$gradient-light-color: #ff79da;
$accent-color: #99e2b0;
$secondary-text-color: #008766;
$footer-bg-color: #353535;
$location-bg-color: #eaeaea;
