@mixin logo-s {
  max-width: 175px;
  height: 30px;
}

@mixin logo-desktop {
  width: 200px;
  height: 34px;
}

@mixin btn {
  &:active {
    opacity: 0.8;
  }
  width: 218px;
  height: 50px;
  font-weight: 500;
  padding: 10px 20px;
  background: linear-gradient(
    180deg,
    c.$gradient-light-color -20%,
    c.$gradient-medium-color 40%,
    c.$gradient-dark-color 130%
  );
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: c.$primary-bg-color;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

@mixin card-op {
  min-width: 265px;
  width: 100%;
  height: 72px;
  background-color: c.$secondary-bg-color;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  align-content: center;
  padding-left: 10px;
  margin-bottom: 25px;
  margin-left: 15px;

  .step {
    @include pastille-op;
  }

  span {
    font-weight: 500;
  }
}

@mixin i-op {
  &:active {
    color: c.$gradient-dark-color;
  }
  font-size: 18px;
  color: c.$icon-color;
  padding-right: 20px;
}

@mixin pastille-op {
  width: 20px;
  height: 20px;
  position: relative;
  top: 0;
  left: -20px;
  background-color: c.$gradient-dark-color;
  border-radius: 50%;
  font-size: 14px;
  color: c.$primary-bg-color;
  justify-content: center;
  align-content: center;
  padding: 4px 8px;
}

@mixin new {
  height: 29px;
  width: 80px;
  background-color: c.$accent-color;
  color: c.$secondary-text-color;
}

@mixin i-heart {
  &:active {
    background: linear-gradient(
      -180deg,
      c.$gradient-light-color -20%,
      c.$gradient-medium-color 40%,
      c.$gradient-dark-color 130%
    );
  }
}

@mixin btn-heart {
  width: 25px;
  height: 25px;
  display: flex;
  background: none;
  border: none;
  .fa-solid {
    opacity: 0;
    transition: opacity 1s;
    background-clip: text;
    color: transparent;
    position: absolute;
    background-image: linear-gradient(
      360deg,
      c.$gradient-light-color -20%,
      c.$gradient-medium-color 40%,
      c.$gradient-dark-color 130%
    );
  }
  &:active {
    .fa-solid {
      opacity: 1;
    }
    .fa-regular {
      display: none;
    }
  }
  .fa-heart {
    font-size: 22px;
  }
}

@mixin tab {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}
